<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div id="imagem-perfil"></div>
    <ion-button class="definir-foto">Definir foto do perfil</ion-button>


    <ion-input type="text" placeholder="Nome" id="nome-usuario"></ion-input>

    <ion-input type="text" placeholder="CPF" id="cpf-usuraio"></ion-input>

    <ion-input type="e-mail" placeholder="E-mail" id="email-usuario"></ion-input>

    <ion-input type="telefon" placeholder="Telefone" id="telefone-usuario"></ion-input>

    <ion-input type="text" placeholder="CEP" id="cep-usuario"></ion-input>

    <ion-input type="text" placeholder="Senha" id="senha-usuario"></ion-input>

    <ion-button type="submit" class="botao-cadastrar">
      Cadastrar
    </ion-button>
  </form>
</ion-content>
