<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="../home/home.page.html"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div id="imagem-perfil">
      <!-- <img src="https://i.pinimg.com/474x/98/43/1a/98431a96f44d5e42094cab4db691901a.jpg" alt=""> -->
    </div>
    <ion-button class="definir-foto">Definir foto do perfil</ion-button>


    <ion-input type="text"  id="nome-usuario"></ion-input>

    <ion-input type="text" id="cpf-usuraio"></ion-input>

    <ion-input type="e-mail" id="email-usuario"></ion-input>

    <ion-input type="telefon" id="telefone-usuario"></ion-input>

    <ion-input type="text" id="cep-usuario"></ion-input>

    <ion-input type="text" id="senha-usuario"></ion-input>

    <ion-button type="submit" class="botao-salvar">
      Salvar alterações
    </ion-button>
  </form>
</ion-content>
