<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="../app/conta/conta.page" [routerLink]="['/conta']"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="saveChanges()">
    <div id="imagem-perfil">
      <img [src]="userInfo.imagemUrl" alt="Imagem do Usuário" *ngIf="userInfo.imagemUrl" />
    </div>
    
    <ion-button class="definir-foto">
      Definir foto do perfil
      <input type="file" accept="image/*" (change)="onFileSelected($event)" style="opacity: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0;">
    </ion-button>

    <ion-input type="text" [(ngModel)]="userInfo.nome" id="nome-usuario" placeholder="Nome" required></ion-input>
    <ion-input type="text" [(ngModel)]="userInfo.cpf" id="cpf-usuario" placeholder="CPF" required></ion-input>
    <ion-input type="email" [(ngModel)]="userInfo.email" id="email-usuario" placeholder="E-mail" required></ion-input>
    <ion-input type="tel" [(ngModel)]="userInfo.telefone" id="telefone-usuario" placeholder="Telefone" required></ion-input>
    <ion-input type="text" [(ngModel)]="userInfo.cep" id="cep-usuario" placeholder="CEP" required></ion-input>
    <ion-input type="password" [(ngModel)]="userInfo.senha" id="senha-usuario" placeholder="Senha" required></ion-input>
    
    <ion-button type="submit" class="botao-salvar">Salvar alterações</ion-button>
  </form>
</ion-content>

