* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


ion-title{
    --color: #fff;
}

ion-back-button {
    color: #fff;
}

ion-content {
    font-size: 0.9rem;
    
}



.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

ion-card{
    text-align: center;
    align-items: center;
}

.container>div.espaco-saldo p:nth-child(1){
    font-weight: bold;
    color: #3a3a3a;
}

.container>div.espaco-saldo {
    background-color: #F4F3F3;
    padding: 1rem 2rem;
    margin-bottom: 20px;
    border-radius: 3rem;
}

.container>div.espaco-saldo h3 {
    font-size: 2.5rem;
    color: #6F66E9;
}

ion-button.botao-sacar {
    --background: #6F66E9;
    --color: #fff;
    --border-radius: 3rem;
    text-transform: none;
}



