* {
    box-sizing: border-box;
}



// header


ion-toolbar{
    --padding-start: 2rem;
}

ion-title{
    --color: #fff;
}








// container
ion-card {
    --background: #F4F3F3;
}

ion-content {
    position: absolute;
    top: 8%;
}

ion-content div.container:last-child{
    margin-bottom: 150px;
}


.container {
    padding: 0 2rem;
}


ion-card {
    padding-bottom: 1rem;
    margin-bottom: 30px;
}

ion-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-card-title ion-button.salvo {
    --background: transparent;
    --box-shadow: none;
    --padding: 0;
}

ion-card-title ion-button.salvo i {
    color: #6F66E9;
    font-size: 1.8rem;
}

ion-card-header,
ion-card-content {
    padding: 0rem 1rem;
}

ion-card-header {
    margin-top: 20px;
}

ion-card-content {
    margin-top: 5px;
    font-size: 1rem;
}

ion-card-content span.valor-arrecadado,
ion-card-content span.sifrao-valor-arrecadado {
    color: #6F66E9;
    font-weight: bold;
}

ion-card-content span.valor-meta,
ion-card-content span.sifrao-valor-meta{
    font-weight: bold;
}




// estado status
.container p {
    margin-top: 10px;
}

.container p>span#status.ativo-status{
    color: #64CC5A;
    font-weight: bold;
}

.container p>span#status.nao-ativo{
    color: #E96668;
    font-weight: bold;
}

.encerrado {
    background-color: #ffe6e6 !important;
    border: 1px solid #f5c6cb !important;
    color: #d9534f !important;
  }
  
  .encerrado ion-card-header {
    font-weight: bold !important;
  }
  
  .encerrado .status {
    color: #d9534f !important;
    font-weight: bold !important;
  }  
  
ion-select {
    width: 100%;
    margin-top: 15px;
    font-size: 0.9rem;
    --background: #fff;
    color: #6F66E9;
    border-radius: 3rem;
    --border-radius: 3rem;
    border: solid #6F66E9 2px;
    --padding-start: 1rem;
    --padding-end: 1rem;
}



// menu-tabs {
ion-tab-button i {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

ion-tab-button.ativo {
    color: #6F66E9;
    border-top: solid #6F66E9 2px;
    
    
}


