<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Meus Helps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card *ngFor="let help of meusHelps$ | async" [ngClass]="{'encerrado': help.status === 'encerrado'}">
      <img alt="imagem-help" [src]="help.imagemUrl" />
      <ion-card-header>
        <ion-card-title>
          <span id="nome-help">{{ help.nome }}</span>
        </ion-card-title>
        <ion-card-subtitle>
          Categoria: <span>{{ help.categoria | titlecase }}</span>
        </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <span class="sifrao-valor-arrecadado">R$ </span>
        <span class="valor-arrecadada">{{ help.valorArrecadado }}</span> de 
        <span class="sifrao-valor-meta">R$ </span>
        <span class="valor-meta">{{ help.valorMeta }}</span>
        
        <div>
          <span>Status:</span>
          <strong class="status">{{ help.status }}</strong>
        </div>

        <ion-select label="Gerenciar" label-placement="floating" id="gerenciar" (ionChange)="gerenciarHelp($event, help.id)">
            <ion-select-option *ngIf="help.status === 'encerrado'" value="sacar-agora">Sacar Agora</ion-select-option>
      
            <!-- Outros botões estão desabilitados se o help estiver encerrado -->
            <ion-select-option value="editar-help" [disabled]="help.status === 'encerrado'">Editar Help</ion-select-option>
            <ion-select-option value="ver-detalhes" [disabled]="help.status === 'encerrado'">Ver Detalhes</ion-select-option>
            <ion-select-option value="encerrar-help" [disabled]="help.status === 'encerrado'">Encerrar Help</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


  <!-- MENU -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" [routerLink]="['/feed']">
      <i class="fa-solid fa-bars" name="feed"></i>
      Feed
    </ion-tab-button>
    <ion-tab-button tab="criar-help" [routerLink]="['/criar-help']">
      <i class="fa-solid fa-plus" name="criar-help"></i>
      Criar Help
    </ion-tab-button>
    <ion-tab-button tab="meus-helps" class="ativo" [routerLink]="['/meus-helps']">
      <i class="fa-solid fa-heart" name="meus-helps"></i>
      Meus Helps
    </ion-tab-button>
    <ion-tab-button tab="conta" [routerLink]="['/conta']">
      <i class="fa-solid fa-user" name="conta"></i>
      Conta
    </ion-tab-button>
  </ion-tab-bar>







