<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Meus Helps</ion-title>
  </ion-toolbar>
</ion-header>



<ion-tabs>
  <ion-content [fullscreen]="true">
    <div class="container">
      <!--  
      <ion-card>
        <img alt="imagem-help" src="assets/Icones/golden-retriever-1.webp" />
        <ion-card-header>
          <ion-card-title>
            <span id="nome-help">Tratamento do Bob</span>
            <ion-button class="salvo">
              <i class="fa-regular fa-bookmark"></i>
            </ion-button>
          </ion-card-title>
  
          <ion-card-subtitle>Categoria: <span>Saúde</span></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <span class="sifrao-valor-arrecadado">R$ </span><span class="valor-arrecadado"> </span> de <span class="sifrao-valor-meta">R$ </span><span class="valor-meta"> </span>
          
          <p>Status: <span id="status" class="nao-ativo" >Encerrado</span></p>

          <ion-select label="Gerenciar" label-placement="floating"  id="gerenciar">
            <ion-select-option value="encerrar-help">Encerrar Help</ion-select-option>
            <ion-select-option value="editar-help">Editar Help</ion-select-option>
            <ion-select-option value="ver-detalhes">Ver detalhes</ion-select-option>
          </ion-select>
        </ion-card-content>

      </ion-card>
      -->
      

      


      
      
    </div>
  </ion-content>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" >
      <i class="fa-solid fa-bars" name="feed"></i>
      Feed
    </ion-tab-button>

    <ion-tab-button tab="criar-help">
      <i class="fa-solid fa-plus" name="criar-help"></i>
      Criar Help
    </ion-tab-button>

    <ion-tab-button tab="meus-helps" class="ativo">
      <i class="fa-solid fa-heart" name="meus-helps"></i>
      Meus Helps
    </ion-tab-button>

    <ion-tab-button tab="conta">
      <i class="fa-solid fa-user" name="conta"></i>
      Conta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>







