<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="../home/home.page.html"></ion-back-button>
    </ion-buttons>
    <ion-title>Termos de uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">
    <h3>Regras sobre o Help</h3>
    <ol>
      <li>Título e Descrição: O título e a descrição devem ser claros, focados em causas de saúde ou necessidade urgente, sem termos ofensivos ou ambiguidades. Haverá validação automática e manual para garantir a legitimidade.</li>
  
      <li>Meta Financeira: O valor definido deve ser coerente com a causa. O sistema pode sugerir um valor médio baseado em campanhas semelhantes.</li>
  
      <li>Data Final: A arrecadação deve durar entre 7 dias e 12 meses, considerando a urgência da causa.
      </li>
  
      <li>Categoria da Campanha: A campanha deve se enquadrar em categorias pré-aprovadas (saúde, desastres, etc.) e será rejeitada se for para fins comerciais ou luxuosos.</li>
  
      <li>Validação Manual: Moderadores revisarão todas as campanhas para garantir conformidade com as diretrizes.</li>
  
      <li>Autenticidade e Evidências: Pode ser necessário fornecer provas, como relatórios médicos ou boletins de ocorrência, para justificar a causa.</li>
  
      <li>Limite por Usuário: Cada usuário pode ter no máximo 3 campanhas ativas simultâneas.</li>
    </ol>
  </div>
</ion-content>
