* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



// header
ion-toolbar{
    --padding-start: 2rem;
    --padding-end: 2rem;
}


#buscar {
    display: flex;
    background-color: #fff; 
    border-radius: 3rem;
    padding: 0 0.5rem 0 0;
    margin-bottom: 5px;
}

#buscar ion-input {
    --padding-start: 1rem;
    
    font-size: 0.9rem;
}


#buscar ion-button {
    --background: transparent;
    --color: #6F66E9;
    --box-shadow: none;

}

#buscar ion-input {
    --highlight-color-focused: none; 
    --ion-border-color: transparent;
}




// container
ion-content {
    --overflow: auto
}

ion-card {
    --background: #F4F3F3;
}
.container {
    padding: 0 2rem;
    margin-top: 30px;
    overflow-y: auto;
}

.container>h4 {
    margin-bottom: 15px;
    color: #646465;
}

ion-card {
    padding-bottom: 1rem;
    margin-bottom: 30px;
}

ion-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-card-title ion-button.salvo {
    --background: transparent;
    --box-shadow: none;
    --padding: 0;
}

ion-card-title ion-button.salvo i {
    color: #6F66E9;
    font-size: 1.8rem;
}

ion-card-header,
ion-card-content {
    padding: 0rem 1rem;
}

ion-card-header {
    margin-top: 20px;
}

ion-card-content {
    margin-top: 5px;
    font-size: 1rem;
}

ion-card-content span.valor-arrecadado {
    color: #6F66E9;
    font-weight: bold;
}

ion-card-content span.valor-meta{
    font-weight: bold;
}

ion-card ion-button.botao-ver-detalhes {
    text-transform: none;
    margin-top: 20px;
    --border-radius: 3rem;
    font-weight: bold;
    margin-left: 1rem;
}




// menu-tabs {
ion-tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-tab-button i {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

ion-tab-button.ativo {
    color: #6F66E9;
    border-top: solid #6F66E9 2px;
    
    
}

