<ion-header>
  <ion-toolbar color="tertiary">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterHelps()" placeholder="Buscar Helps">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h4>Alguns helps para você</h4>

    <ion-card *ngFor="let help of filteredHelps">
      <img alt="imagem-help" [src]="help.imagemUrl || 'assets/default-image.png'" />
      
      <ion-card-header>
        <ion-card-title>
          <span id="nome-help">{{ help.nome }}</span>
          <ion-button class="salvo" (click)="salvarHelp(help)">
            <i class="fa" [ngClass]="help.salvo ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"></i>
          </ion-button>
        </ion-card-title>
        <ion-card-subtitle>Categoria: <span>{{ help.categoria | titlecase }}</span></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
          <span>Status:</span>
          <strong>{{ help.status }}</strong> <!-- Status padrão ao criar o help -->
        </div>

        <span class="sifrao-valor-arrecadado">R$ </span>
        <span class="valor-arrecadado">{{ help.valorArrecadado }}</span> de 
        <span class="sifrao-valor-meta">R$ </span>
        <span class="valor-meta">{{ help.valorMeta }}</span>
      </ion-card-content>
      
      <ion-button fill="outline" class="botao-ver-detalhes" color="tertiary" (click)="verDetalhes(help.id)">
        Ver detalhes
      </ion-button>
    </ion-card>
  </div>    
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="feed" class="ativo" [routerLink]="['/feed']">
    <i class="fa-solid fa-bars" name="feed"></i>
    Feed
  </ion-tab-button>
  <ion-tab-button tab="criar-help" [routerLink]="['/criar-help']">
    <i class="fa-solid fa-plus" name="criar-help"></i>
    Criar Help
  </ion-tab-button>
  <ion-tab-button tab="meus-helps" [routerLink]="['/meus-helps/:id']">
    <i class="fa-solid fa-heart" name="meus-helps"></i>
    Meus Helps
  </ion-tab-button>
  <ion-tab-button tab="conta" [routerLink]="['/conta']">
    <i class="fa-solid fa-user" name="conta"></i>
    Conta
  </ion-tab-button>
</ion-tab-bar>
