<ion-header>
  <ion-toolbar color="tertiary">
    <div id="buscar">
      <ion-input placeholder="Buscar Helps"></ion-input>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>



<!-- conteúdo do site -->
<ion-content>
  <div class="container">
    <h4>Alguns helps para você</h4>

    <ion-card>
      <img alt="imagem-help" src="assets/Icones/golden-retriever-1.webp" />
      <ion-card-header>
        <ion-card-title>
          <span id="nome-help">Tratamento do Bob</span>
          <ion-button class="salvo">
            <i class="fa-regular fa-bookmark"></i>
            
          </ion-button>
        </ion-card-title>

        <ion-card-subtitle>Categoria: <span>Saúde</span></ion-card-subtitle>
      </ion-card-header>
    

      <ion-card-content>
        <span class="valor-arrecadado">R$ 10.000,00</span> de <span class="valor-meta">R$ 30.000,00</span>
      </ion-card-content>


      <ion-button fill="outline" class="botao-ver-detalhes" color="tertiary">Ver detalhes</ion-button>
    </ion-card>



    <ion-card>
      <img alt="imagem-help" src="assets/Icones/golden-retriever-1.webp" />
      <ion-card-header>
        <ion-card-title>
          <span id="nome-help">Tratamento do Bob</span>
          <ion-button class="salvo">
            <i class="fa-solid fa-bookmark"></i>
          </ion-button>
        </ion-card-title>

        <ion-card-subtitle>Categoria: <span>Saúde</span></ion-card-subtitle>
      </ion-card-header>
    

      <ion-card-content>
        <span class="valor-arrecadado">R$ 10.000,00</span> de <span class="valor-meta">R$ 30.000,00</span>
      </ion-card-content>


      <ion-button fill="outline" class="botao-ver-detalhes" color="tertiary">Ver detalhes</ion-button>
    </ion-card>

    
    <ion-card>
      <img alt="imagem-help" src="assets/Icones/golden-retriever-1.webp" />
      <ion-card-header>
        <ion-card-title>
          <span id="nome-help">Tratamento do Bob</span>
          <ion-button class="salvo">
            <i class="fa-solid fa-bookmark"></i>
          </ion-button>
        </ion-card-title>

        <ion-card-subtitle>Categoria: <span>Saúde</span></ion-card-subtitle>
      </ion-card-header>
    

      <ion-card-content>
        <span class="valor-arrecadado">R$ 10.000,00</span> de <span class="valor-meta">R$ 30.000,00</span>
      </ion-card-content>


      <ion-button fill="outline" class="botao-ver-detalhes" color="tertiary">Ver detalhes</ion-button>
    </ion-card>





    <ion-card>
      <img alt="imagem-help" src="assets/Icones/golden-retriever-1.webp" />
      <ion-card-header>
        <ion-card-title>
          <span id="nome-help">Tratamento do Bob</span>
          <ion-button class="salvo">
            <i class="fa-solid fa-bookmark"></i>
          </ion-button>
        </ion-card-title>

        <ion-card-subtitle>Categoria: <span>Saúde</span></ion-card-subtitle>
      </ion-card-header>
    

      <ion-card-content>
        <span class="valor-arrecadado">R$ 10.000,00</span> de <span class="valor-meta">R$ 30.000,00</span>
      </ion-card-content>


      <ion-button fill="outline" class="botao-ver-detalhes" color="tertiary">Ver detalhes</ion-button>
    </ion-card>
  </div>
  


  
  
</ion-content>




<!-- menu-tabs -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" class="ativo">
      <i class="fa-solid fa-bars" name="feed"></i>
      Feed
    </ion-tab-button>

    <ion-tab-button tab="criar-help">
      <i class="fa-solid fa-plus" name="criar-help"></i>
      Criar Help
    </ion-tab-button>

    <ion-tab-button tab="meus-helps">
      <i class="fa-solid fa-heart" name="meus-helps"></i>
      Meus Helps
    </ion-tab-button>

    <ion-tab-button tab="conta">
      <i class="fa-solid fa-user" name="conta"></i>
      Conta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
