<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button default-href="../home/home.page.html" [routerLink]="['/feed']"></ion-back-button>
      </ion-buttons>
      <ion-title>Detalhes Do Help</ion-title>
    </ion-toolbar>
</ion-header>

<!-- src/app/ver-detalhes-feed/ver-detalhes-feed.page.html -->
<ion-content [fullscreen]="true" *ngIf="helpDetails">
  <div class="container">

    <div class="img-help">
      <img [src]="helpDetails.imagemUrl" alt="imagem-help">
    </div>

    <div class="informacoes-help">
      <p>Categoria: <span class="categoria">{{ helpDetails.categoria }}</span></p>
      <h3 class="nome-help">{{ helpDetails.nome }}</h3>
      <p>
        <span class="valor-arrecadado">R$ {{ helpDetails.valorArrecadado | number:'1.2-2' }}</span> de 
        <span class="valor-meta">R$ {{ helpDetails.valorMeta | number:'1.2-2' }}</span>
      </p>
    </div>

    <div class="data-encerramento">
      <p>Data de Encerramento: <span class="data">{{ helpDetails.dataEncerramento | date:'dd/MM/yyyy' }}</span></p>
    </div>

    <div class="descricao-help">
      <p>{{ helpDetails.descricao }}</p>
    </div>

    <div class="pix-help">
      <p>Você pode ajudar via chave Pix:</p>
      <div class="chave-pix">
        <span>{{ helpDetails.chavePix }}</span>
      </div>
    </div>

    <div class="criador-help">
      <p>Criador do Help:</p>
      <div class="imagem-nome-usuario">
        <div class="imagem-usuario">
          <img [src]="helpDetails.criador.imagemUrl" alt="foto-usuario">
        </div>
        <span class="nome-usuario">{{ helpDetails.criador.nome }}</span>
      </div>
    </div>

    <p>Comprovantes:</p>
    <div class="lista-imagens" *ngIf="helpDetails.comprovantes && helpDetails.comprovantes.length">
      <div class="item-imagem" *ngFor="let comprovante of helpDetails.comprovantes">
        <img [src]="comprovante" alt="">
      </div>
    </div>

    <ion-button id="botao-doe" expand="full">Doe agora</ion-button>
  </div>
</ion-content>










