* {
    box-sizing: border-box;
}


ion-title{
    --color: #fff;
}

ion-back-button {
    color: #fff;
}

ion-content {
    font-size: 0.9rem;
    
}


// container
ion-card {
    --background: #F4F3F3;
}


ion-content div.container:last-child{
    margin-bottom: 150px;
}


.container {
    padding: 0 2rem;
    margin-top: 30px;
}


ion-card {
    padding-bottom: 1rem;
    margin-bottom: 30px;
}

ion-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-card-title ion-button.salvo {
    --background: transparent;
    --box-shadow: none;
    --padding: 0;
}

ion-card-title ion-button.salvo i {
    color: #6F66E9;
    font-size: 1.8rem;
}

ion-card-header,
ion-card-content {
    padding: 0rem 1rem;
}

ion-card-header {
    margin-top: 20px;
}

ion-card-content {
    margin-top: 5px;
    font-size: 1rem;
}

ion-card-content span.valor-arrecadado,
ion-card-content span.sifrao-valor-arrecadado {
    color: #6F66E9;
    font-weight: bold;
}

ion-card-content span.valor-meta,
ion-card-content span.sifrao-valor-meta{
    font-weight: bold;
}

ion-card ion-button.botao-ver-detalhes {
    text-transform: none;
    margin-top: 20px;
    --border-radius: 3rem;
    font-weight: bold;
    margin-left: 1rem;
}
